@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MPLUSRounded1cThin';
  src: local('MPLUSRounded1c'),
    url('./fonts/MPLUSRounded1c/MPLUSRounded1c-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'MPLUSRounded1cRegular';
  src: local('MPLUSRounded1c'),
    url('./fonts/MPLUSRounded1c/MPLUSRounded1c-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'MPLUSRounded1cMedium';
  src: local('MPLUSRounded1c'),
    url('./fonts/MPLUSRounded1c/MPLUSRounded1c-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'MPLUSRounded1c';
  src: local('MPLUSRounded1cLight'),
    url('./fonts/MPLUSRounded1c/MPLUSRounded1c-Light.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'MPLUSRounded1cExtrabold';
  src: local('MPLUSRounded1c'),
    url('./fonts/MPLUSRounded1c/MPLUSRounded1c-ExtraBold.ttf')
      format('truetype');
  font-weight: bolder;
}

@font-face {
  font-family: 'MPLUSRounded1cBold';
  src: local('MPLUSRounded1c'),
    url('./fonts/MPLUSRounded1c/MPLUSRounded1c-Bold.ttf') format('truetype');
  font-weight: bold;
}

.ff-mpr1c-thin {
  font-family: 'MPLUSRounded1cThin';
}
.ff-mpr1c-regular {
  font-family: 'MPLUSRounded1cRegular';
}
.ff-mpr1c-light {
  font-family: 'MPLUSRounded1cLight';
}
.ff-mpr1c-medium {
  font-family: 'MPLUSRounded1cMedium';
}
.ff-mpr1c-bold {
  font-family: 'MPLUSRounded1cBold';
}
.ff-mpr1c-extraBold {
  font-family: 'MPLUSRounded1cExtraBold';
}
